* {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------IR ARRIBa------------*/

.go-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    text-decoration: none;
    color: #fff;
    /*background-color: rgb(0, 0, 0, );*/
    background-color: #000;
    font-size: 12px;
    padding: 1em;
    display: none;
}

.go-top:hover {
    /*background-color: rgba(0, 0, 0, 0.6);*/
    background-color: black;
}
.contenheader{
	/*outline: 2px red solid;*/
	width: 100%;
	/*background-color: #515a5a;*/
	background-color: #8F8167;
	/*background-color: #E5D6AD;*/
	overflow: hidden;
}
.imagen{
	/*outline: 2px green solid;*/
	width: 15%;
	margin-left: 5%;
}
.textmenu{
	font-size: 25px;
}
.contentextmenu{
	/*outline: 2px red solid;*/
	margin-right: 5%;
	margin-top: 3%;
	color: #fff;
}


/*-----------------carusel------------*/

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    /*background-color: #f39c12;*/
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  /*opacity: 1;*/
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /*background-color: #080d15;*/
    background-color: rgba(8,13,21,.4);
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/slide1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/slide2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/slide3.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*----------------SECCION DEBAJO DEL SLIDE----------------------------*/


.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-big {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.big-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.carbox {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.carbox:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-carbox {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-carbox img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.carbox-content {
  padding:15px;
  text-align:left;
}
.carbox-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.carbox-title a {
  color: #000;
  text-decoration: none !important;
}
.carbox-read-more {
  border-top: 1px solid #D4D4D4;
}
.carbox-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

.banner{
	/*outline: 2px red solid;*/
	margin-bottom: 3%;
}
.tit{
	text-align: center;
}
hr{
	width: 40%;
	margin: 0 auto;
}
.textobanner{
	/*outline: 2px red solid;*/
	width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2%;
}
.icono{
	text-align: center;
	color: #1D9A96;
}



/*------------------slide abajo de index---------------*/
.contenslideabajo{
	/*outline: 2px red solid;*/
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}
#custom_carousel .item {

    color:#000;
    /*background-color:#eee;*/
    background-color: #E7EDF7;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    /*background-color:#eee;*/
    background-color: #E7EDF7;
    border-top:3px solid orange;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
.boton2{
    /*outline: 2px red solid;*/
    text-align: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%; 
}
.boton2 a{
    text-decoration: none;
    color: #fff;
    background: #000000;
    padding: 15px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.boton2 a:hover{
    background-color: rgb(67,67,67);
}
/*--------------FOOTER----------*/
footer{
	width: 100%;
    background:#1D9A96;
    font-family: 'Oswald', sans-serif;
    height: 80px;
    /*font-size: 20px;*/
    overflow: hidden;
    clear: both;

}
footer p{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    color: #fff;
}

/*-----------------------nosotros-----------*/
.bannern{
	/*outline: 2px red solid;*/
	 position: relative;
	 width: 100%;
    height: 407px;
    background: url('../img/nosotros.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.bannern p{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 15%;
    margin: 0 auto;
    margin-top: 20%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}
.mvvo{
	position: relative;
	 width: 100%;
    height: 407px;
    background: url('../img/img3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}
.mision{
	/*outline: 2px red solid;*/
	float: left;
	width: 20%;
	margin-left: 4%;
	margin-top: 8%;
	background-color: rgba(0,0,0,.5);
}
.mision h2{
	color: #fff;
	text-align: center;
}
.mision p{
	font-size: 17px;
	color: #fff;
	text-align: center;
}
.valores{
	/*outline: 2px red solid;*/
	float: left;
	width: 20%;
	margin-left: 4%;
	margin-top: 8%;
	background-color: rgba(0,0,0,.5);
}
.valores h2{
	color: #fff;
	text-align: center;
}
.valores p{
	/*outline: 2px red solid;*/
	width: 70%;
	font-size: 17px;
	color: #fff;
	text-align: justify;
	margin-left: 5%;
}

/*-------------------servicios--------------*/
.banners{
	/*outline: 2px red solid;*/
	 position: relative;
	 width: 100%;
    height: 407px;
    background: url('../img/servicios.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.banners p{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 15%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}
.contenser{
	/*outline: 2px red solid;*/
	width: 78%;
	overflow: hidden;
	margin: 0 auto;
}
.uno{
	width: 25%;
	margin-left: 6%;
	float: left;
	/*outline: 2px red solid;*/
}
.uno h2{
	text-align: center;
	background-color: #1D9A96;
	margin-bottom: 0px;
	color: #fff;
	padding: 10px 0px;
}
.uno p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	text-align: center;
	background-color: #8F8167;
	padding: 10px 0px;
	color: #fff;
}
.opciones{
	position: relative;
	 width: 100%;
    /*height: 707px;*/
    height: auto;
    background: url('../img/fondos.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
	/*margin-bottom: 5%;*/
}
.color{
	color: #fff;
}
.contenopciones{
	/*outline: 2px red solid;*/
	width: 100%;
	margin-top: 1%;
	overflow: hidden;
	margin-bottom: 2%;
}
.dos{
	width: 25%;
	margin-left: 6%;
	float: left;
	/*outline: 2px red solid;*/
	/*background-color: rgba(255,255,255,.3);*/
	background-color: rgba(0,0,0,.3);
	margin-top: 5%;
}
.iconoo{
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-top: 5%;
}
.dos h2{
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	padding: 10px 0px;
	font-weight: bold;
}
.dos p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	text-align: center;
	/*background-color: #8F8167;*/
	padding: 10px 0px;
	color: #fff;
}

/*-----------------------contacto------------*/
.bannerc{
	/*outline: 2px red solid;*/
	 position: relative;
	 width: 100%;
    height: 707px;
    background: url('../img/foraneos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.bannerc p{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    width: 45%;
    margin: 0 auto;
    margin-top: 2%;
    padding: 10px 0px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
}
.contendirecformu{
	/*outline: 2px red solid;*/
	margin-top: 2%;
	width: 100%;
}
.direccion, .formulario{
	float: left;
}
.direccion{
	/*outline: 2px white solid;*/
	width: 40%;
	margin-left: 2%;
	background-color: rgba(0,0,0,.5);
}
.direccion h2{
	text-align: center;
	background-color: #1D9A96;
	margin-bottom: 0px;
	color: #fff;
	padding: 10px 0px;
	margin-top: 0px;
}
.telefono{
	width: 100%;
	margin-top: 4%;
}
.iconotel, .num{
	display: inline-block;
	vertical-align:top;
}
.iconotel{
	color: #fff;
	margin-left: 2%;
}
.num{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    margin-top: 2%;
    margin-left: 4%;
}
.iconotel, .direc{
	display: inline-block;
	vertical-align:top;
}
.direc{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin-top: 2%;
    margin-left: 4%;
    /*outline: 2px red solid;*/
    width: 80%;
}
.formulario{
	/*outline: 2px green solid;*/
	width: 54%;
	margin-left: 2%;
	background-color: rgba(0,0,0,.5);
}
.formulario h2{
	text-align: center;
	background-color: #1D9A96;
	margin-bottom: 0px;
	color: #fff;
	padding: 10px 0px;
	margin-top: 0px;
}
.text-f{
	color: #fff;
	font-size: 18px;
}
.btn{
	margin-left: 155%;
}