@media screen and (max-width: 480px){

    /*************DISEÑO MENU*****************/
    .imagen{
        width: 200px;
        margin-left: 10%;
        height: 100px;
    }

    .imagen img{
        width: 100%;
        padding: 0px;
        margin-top: -30px;
    }

    .contentextmenu{
        width: 100%;
        margin: 0px;
    }

    .menu ul{
        width: 100%;
    }

    .menu ul li{
        width: 100%;
    }

    .menu div{
        position: absolute;
        top: 25px;
        right: 10%;
    }

    .icon-menu i{
        font-size: 30px;
    }

    /**************END MENU***************/

    /**************DISEÑO CARRUSEL***************/
    .carousel {
        display: none;
    }
    /**************END CARRUSEL***************/

     /**************DISEÑO INFORMACION***************/
    .carbox-title{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px;
    }

    .carbox-content p{
        text-align: justify;
    }


    .tit{
        font-size: 23px;
    }

    hr{
        width: 85%;
    }

    .textobanner{
        width: 100%;
        padding: 10px 25px;
        text-align: justify;
    }

    .icono i{
        font-size: 50px;
    }

    .margin{
        margin-bottom: 10%;
    }

    .margin .center{
        text-align: justify;
        padding: 10px 25px;
    }

    .text-center{
        font-size: 20px;
        font-weight: bold;
    }    

    .contenslideabajo, .oculto{        
        display: none
    }

    .boton2{
        margin-bottom: 10%;
    }
    /**************END IFORMACION***************/


    /**************DISEÑO NOSOTROS***************/
    .bannern{
        height: 200px;
    }

    .bannern p{
        margin-top: 16%;
        width: 100%;
    }

    .mvvo{
        height: 100%;
    }

    .mision, .valores{
        width: 80%;
        margin-left: 0px;
        float: none;
        margin:5% auto;
    }

    .mision p, .valores p{
        text-align: justify;
        padding: 10px;
    }

    .mision h2, .valores h2{
        padding: 15px 0px;
    }

    /**************END NOSOTROS***************/

    /**************DISEÑO SERVICIOS***************/
    .banners{
        height: 200px;
    }

    .banners p{
        margin-top: 16%;
        width: 100%;
    }

    .contenser{
        width: 85%;
    }

    .uno{
        width: 100%;
        margin: 0px;
    }

    .uno h2{
        font-size: 20px;
    }

    .uno p{
        text-align: justify;
        padding: 15px;
    }

    .contenopciones .dos{
        width: 80%;
        float: none;
        margin: 5% auto;
        padding: 15px;
    }

    .iconoo i{
        font-size: 35px;
    }

    .dos h2{
        font-size: 20px;
    }

    .dos p{
        text-align: justify;
    }
    /**************END SERVICIOS***************/

    /**************DISEÑO CONTACTO***************/
    .bannerc{
        height: 100%;
    }

    .bannerc p{
        width: 100%;
        font-size: 25px;
    }

    .direccion{
        width: 95%;
        margin: auto;
        float: none;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    .direccion h2{
        font-size: 20px;
    }

    .iconotel i{
        font-size: 25px;
    }

    .num, .direc{
        font-size: 20px;
    }

    .direc{
        text-align: justify;
    }

    .formulario{
        width: 95%;
        margin-bottom: 10%;
        float: none;
    }

     .formulario h2{
        font-size: 20px;
    }

    .boton{
        text-align: center;
    }

    .btne{
        margin: 0px;
    }

    /****************END CONTACTO***************/

    /*************DISEÑO PIE*****************/
    footer p{
        font-size: 18px;
        margin-top: 5%;
    }
    /**************END PIE******************/
}

@media screen and (max-width: 599px) and (min-width: 481px) {
    /*************DISEÑO MENU*****************/
    .imagen{
        width: 200px;
        margin-left: 10%;
        height: 100px;
    }

    .imagen img{
        width: 100%;
        padding: 0px;
        margin-top: -30px;
    }

    .contentextmenu{
        width: 100%;
        margin: 0px;
    }

    .menu ul{
        width: 100%;
    }

    .menu ul li{
        width: 100%;
    }

    .menu div{
        position: absolute;
        top: 25px;
        right: 10%;
    }

    .icon-menu i{
        font-size: 30px;
    }

    /**************END MENU***************/

    /**************DISEÑO CARRUSEL***************/
    .carousel {
        display: none;
    }
    /**************END CARRUSEL***************/

     /**************DISEÑO INFORMACION***************/
    .carbox-title{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px;
    }

    .carbox-content p{
        text-align: justify;
    }


    .tit{
        font-size: 23px;
    }

    hr{
        width: 85%;
    }

    .textobanner{
        width: 100%;
        padding: 10px 25px;
        text-align: justify;
    }

    .icono i{
        font-size: 50px;
    }

    .margin{
        margin-bottom: 10%;
    }

    .margin .center{
        text-align: justify;
        padding: 10px 25px;
    }

    .text-center{
        font-size: 20px;
        font-weight: bold;
    }    

    .contenslideabajo, .oculto{        
        display: none
    }

    .boton2{
        margin-bottom: 10%;
    }
    /**************END IFORMACION***************/

    /**************DISEÑO NOSOTROS***************/
    .bannern{
        height: 270px;
    }

    .bannern p{
        margin-top: 16%;
        width: 100%;
    }

    .mvvo{
        height: 100%;
    }

    .mision, .valores{
        width: 80%;
        margin-left: 0px;
        float: none;
        margin:5% auto;
    }

    .mision p, .valores p{
        text-align: justify;
        padding: 10px;
    }

    .mision h2, .valores h2{
        padding: 15px 0px;
    }

    /**************END NOSOTROS***************/

    /**************DISEÑO SERVICIOS***************/
    .banners{
        height: 250px;
    }

    .banners p{
        margin-top: 16%;
        width: 100%;
    }

    .contenser{
        width: 85%;
    }

    .uno{
        width: 100%;
        margin: 0px;
    }

    .uno h2{
        font-size: 20px;
    }

    .uno p{
        text-align: justify;
        padding: 15px;
    }

    .contenopciones .dos{
        width: 80%;
        float: none;
        margin: 5% auto;
        padding: 15px;
    }

    .iconoo i{
        font-size: 35px;
    }

    .dos h2{
        font-size: 20px;
    }

    .dos p{
        text-align: justify;
    }
    /**************END SERVICIOS***************/

    /**************DISEÑO CONTACTO***************/
    .bannerc{
        height: 100%;
    }

    .bannerc p{
        width: 100%;
        font-size: 25px;
    }

    .direccion{
        width: 95%;
        margin: auto;
        float: none;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    .direccion h2{
        font-size: 20px;
    }

    .iconotel i{
        font-size: 30px;
    }

    .num, .direc{
        font-size: 25px;
    }

    .direc{
        text-align: justify;
    }

    .formulario{
        width: 95%;
        margin-bottom: 10%;
        float: none;
    }

     .formulario h2{
        font-size: 20px;
    }

    .boton{
        text-align: center;
    }

    .btne{
        margin: 0px;
    }

    /****************END CONTACTO***************/


     /*************DISEÑO PIE*****************/
    footer p{
        font-size: 20px;
        margin-top: 5%;
    }
    /**************END PIE******************/
}

@media screen and (max-width: 799px) and (min-width: 600px) {
    /*************DISEÑO MENU*****************/
    .imagen{
        width: 200px;
        margin-left: 10%;
        height: 100px;
    }

    .imagen img{
        width: 100%;
        padding: 0px;
        margin-top: -30px;
    }

    .contentextmenu{
        width: 100%;
        margin: 0px;
    }

    .menu ul{
        width: 100%;
    }

    .menu ul li{
        width: 100%;
    }

    .menu div{
        position: absolute;
        top: 25px;
        right: 10%;
    }

    .icon-menu i{
        font-size: 30px;
    }

    /**************END MENU***************/

     /**************DISEÑO INFORMACION***************/
    .carbox-title{
        text-align: center;
        font-size: 18px;
        font-family: sans-serif;
        padding: 10px;
    }

    .carbox-content p{
        text-align: justify;
    }


    .tit{
        font-size: 23px;
    }

    hr{
        width: 85%;
    }

    .textobanner{
        width: 100%;
        padding: 10px 25px;
        text-align: justify;
    }

    .icono i{
        font-size: 50px;
    }

    .margin{
        margin-bottom: 10%;
    }

    .margin .center{
        text-align: justify;
        padding: 10px 25px;
    }

    .text-center{
        font-size: 20px;
        font-weight: bold;
    }    

    .contenslideabajo, .oculto{        
        display: none
    }

    .boton2{
        margin-bottom: 10%;
    }
    /**************END IFORMACION***************/
    
    /**************DISEÑO NOSOTROS***************/
    .bannern{
        height: 300px;
    }

    .bannern p{
        margin-top: 16%;
        width: 100%;
    }

    .mvvo{
        height: 100%;
    }

    .mision, .valores{
        width: 80%;
        margin-left: 0px;
        float: none;
        margin:5% auto;
    }

    .mision p, .valores p{
        text-align: justify;
        padding: 10px;
    }

    .mision h2, .valores h2{
        padding: 15px 0px;
    }

    /**************END NOSOTROS***************/

    /**************DISEÑO SERVICIOS***************/
    .banners{
        height: 300px;
    }

    .banners p{
        margin-top: 16%;
        width: 100%;
    }

    .contenser{
        width: 85%;
    }

    .uno{
        width: 100%;
        margin: 0px;
    }

    .uno h2{
        font-size: 20px;
    }

    .uno p{
        text-align: justify;
        padding: 15px;
    }

    .contenopciones .dos{
        width: 80%;
        float: none;
        margin: 5% auto;
        padding: 15px;
    }

    .iconoo i{
        font-size: 35px;
    }

    .dos h2{
        font-size: 20px;
    }

    .dos p{
        text-align: justify;
    }
    /**************END SERVICIOS***************/

     /**************DISEÑO CONTACTO***************/
    .bannerc{
        height: 100%;
    }

    .bannerc p{
        width: 100%;
        font-size: 25px;
    }

    .direccion{
        width: 80%;
        margin: auto;
        float: none;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }

    .direccion h2{
        font-size: 20px;
    }

    .iconotel i{
        font-size: 30px;
    }

    .num, .direc{
        font-size: 25px;
    }

    .direc{
        text-align: justify;
    }

    .formulario{
        width: 80%;
        margin-bottom: 10%;
        float: none;
        margin: auto;
    }

     .formulario h2{
        font-size: 20px;
    }

    .boton{
        text-align: center;
    }

    .btne{
        margin: 0px;
    }

    /****************END CONTACTO***************/

     /*************DISEÑO PIE*****************/
    footer p{
        font-size: 20px;
        margin-top: 3%;
    }
    /**************END PIE******************/
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
    
     /*************DISEÑO MENU*****************/
     .contentextmenu{
        width: 75%;
        margin: 0px;
     }

     .imagen{
        width: 150px;
        margin: 0px 0px 0px 5%;
        height: 80px;
    }

    .imagen img{
        width: 100%;
        padding: 0px;
        margin-top: -15px;
    }


    .menu ul li a{
        padding: 10px 0px;
        font-size: 15px;
       
    }

    .menu div{
        margin: 2% 3% 0px 0px;
    }

    .icon-menu i{
        font-size: 28px;
    }

    /**************DISEÑO IFORMACION***************/
    .textobanner{
        width: 100%;
        padding: 10px 25px;
        text-align: justify;
    }

    /**************END IFORMACION***************/

    /**************DISEÑO NOSOTROS***************/
    /*.bannern{
        height: 300px;
    }*/

    .bannern p{
        margin-top: 16%;
        width: 100%;
    }

    .mvvo{
        height: 100%;
        padding-bottom: 5%;
    }

    .mision, .valores{
        width: 40%;
        /*margin:auto;*/
        float: none;
        display: inline-block;
        width: 44%;
        vertical-align: top;
    }


    /**************END NOSOTROS***************/

    /**************DISEÑO SERVICIOS***************/
    .banners{
        height: 350px;
    }

    .banners p{
        margin-top: 16%;
        width: 100%;
    }

    .contenser{
        width: 100%;
        text-align: center;
    }

    .uno{
        width: 32%;
        margin: 1% auto;
        float: none;
        display: inline-block;
        vertical-align: top;
    }

    .uno h2{
        font-size: 20px;
    }

    .uno p{
        text-align: justify;
        padding: 15px;
    }

    .contenopciones{
        text-align: center;
    }

    .contenopciones .dos{
        width: 32%;
        float: none;
        margin: 1% auto;
        display: inline-block;
        vertical-align: top;
    }

    .iconoo i{
        font-size: 35px;
    }

    .dos h2{
        font-size: 20px;
    }

    /**************END SERVICIOS***************/

    /**************DISEÑO CONTACTO***************/
    .bannerc{
        height: 100%;
    }
    .bannerc p{
        font-size: 30px;
    }

    .direccion{
        width: 45%;
    }

    .direccion h2, .formulario h2{
        font-size: 20px;
    }

    .num, .direc{
        font-size: 25px;
    }

    .formulario{
        width: 50%;
        margin-bottom: 5%;
    }


    .iconotel i{
        font-size: 25px;
    }    

    .boton{
        text-align: center;
    }

    .btne{
        margin: 0px;
    }

    /****************END CONTACTO***************/

     /*************DISEÑO PIE*****************/
    footer p{
        margin-top: 3%;
    }
    /**************END PIE******************/
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
    /*************DISEÑO MENU*****************/
     .contentextmenu{
        width: 70%;
        margin: 0px;
     }

     .imagen{
        width: 160px;
        margin: 0px 0px 0px 5%;
        height: 80px;
    }

    .imagen img{
        width: 100%;
        padding: 0px;
        margin-top: -15px;
    }


    .menu ul li a{
        padding: 10px 0px;
        font-size: 15px;
       
    }

    .menu div{
        margin: 2% 4% 0px 0px;
    }

    .icon-menu i{
        font-size: 28px;
    }


    .bannern p{
        margin-top: 16%;
        width: 50%;
    }

    /**************DISEÑO SERVICIOS***************/
    
    .contenser{
        width: 100%;
        text-align: center;
    }

    .uno{
        width: 30%;
        margin: 1% auto;
        float: none;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }

    

    .contenopciones{
        text-align: center;
    }

    .contenopciones .dos{
        width: 30%;
        float: none;
        margin: 1% 1%;
        display: inline-block;
        vertical-align: top;
    }

    .dos h2{
        font-size: 20px;
    }

    /**************END SERVICIOS***************/

    /**************DISEÑO CONTACTO***************/

    .direccion{
        width: 50%;
    }
    
    .formulario{
        width: 45%;
    }

    .boton{
        text-align: center;
    }

   

    /**************END CONTACTO***************/

}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }